* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:visited {
    transition: color 1s;
    color: #44c;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #4c4;
}

section + section, article + article {
    padding: 2em 0 0 0;
}

h1 { font-size: 2.3rem }
h2 { font-size: 1.8rem }
h3 { font-size: 1.5rem }
h4 { font-size: 1.3rem }
h5 { font-size: 1.2rem }
h6 { font-size: 1.1rem }
p {
    font-size: 1rem;
    font-weight: 100;
}

h1 a, h1 a:visited {
    color: inherit;
}

dt {
    margin: 1em 0 0 0;
}

dt img {
    width: 2em;
    height: 2em;
    margin: 0 .5em;
    vertical-align: top;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 1em 0;
}

@-webkit-keyframes focus {
    0%   { -webkit-filter: blur(10px) }
    100% { -webkit-filter: blur(0px) }
}

@keyframes focus {
    0%   { filter: blur(10px) }
    100% { filter: blur(0px) }
}

html {
    color: #333;
    font-family: Helvetica;
    font-size: 16px;
    text-align: center;
    -webkit-animation: focus 1s;
    animation: focus 1s;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body > header {
    width: 100%;
    padding: 1em;
    color: #ddd;
}

body > header a, body > header a:visited {
    color: #4c4;
}

body > header a:hover {
    color: #4a4;
}

body > header .en {
    color: #4a4;
}

body > header .curly {
    color: #ca4;
}

body > nav a {
    padding: 1em;
}

body > main {
    max-width: 36em;
    min-height: 36em;
    margin: auto;
    padding: 2em;
    line-height: 2em;
    text-align: left;
}

@media (min-width: 72em) {
    body > nav {
        position: fixed;
        top: calc(50% - 6rem);
        right: 0;
        width: 12rem;
    }

    body > nav a {
        display: inline-block;
        width: 100%;
    }

    body > main {
        width: calc(100% - 12rem)
    }
}

article > header a, article > header a:visited {
    color: inherit;
}

article > header a:hover {
    color: #ca4;
}

article > footer {
    padding: 1em;
    text-align: center;
}

body > footer {
    width: 100%;
    padding: 2em;
    font-size: .8em;
}