body {
    font-family: Verdana;
    font-size: 11px;
    margin: 0px;
    width: 100%;
    height: 100%;
    min-width: 1100px;
    overflow-y: scroll;
}

#control {
    float: left;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
}

#control form {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    white-space: nowrap;
}

#control form input {
    line-height: 1.2em;
}

#blurb {
    float: right;
    padding: 16px 80px;
    font-size: 13px;
    font-weight: bold;
}

#blurb a {
    color: white;
    border-bottom: 1px dotted #F60;
}

#info {
    float: right;
    padding: 10px;
    text-align: right;
}

#info #title {
    font-size: 16px;
}

#info #author {
    font-size: 12px;
}

#info #author a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted white;
}

#content {
    float: left;
    width: 100%;
}

#paper {
    float: right;
    margin: 3px;
}

#results {
    float: left;
    width: 470px;
}

#results .result {
    clear: both;
    float: left;
    margin: 3px 5px 0px 5px;
    padding: 5px 3px 3px 3px;
    height: 1.5em;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#results .result a:active, a:link  {
    color: darkblue;
    text-decoration: none;
}

#results .result a:hover {
    border-bottom: 1px dotted green;
}

#results .result a:visited {
    color: green;
}

#results .result .ctrl {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    float: right;
    padding: 0px 4px;
}

#results .result .title {
    font-size: 10px;
    float: left;
    padding: 0px 2px;
}

#results .result .info {
    font-size: 9px;
    float: left;
    clear: left;
    padding: 5px 2px;
}

#results .result .text {
    font-size: 9px;
    clear: both;
    float: left;
    padding: 15px 3px 0px 5px;
}
